@font-face {
	font-family: 'optica-icons';
	src: url("/assets/fonts/optica-icons.eot");
}

@font-face {
	font-family: 'optica-icons';
	src: url("/assets/fonts/optica-icons.woff") format("woff");
}

.related-posts-wrapper {
	> h2 {
		font-size: 13px;
		margin: 27px 0;
		text-align: center;
		text-transform: uppercase;
	}
	article {
		margin: 0 15px 30px;
		position: relative;
		&.visible .post-wrapper {
			overflow: visible;
		}
	}
	.grid article {
		opacity: 0;
		width: 300px;
	}
}

.related-posts {
	margin: 0 auto;
}

.related-posts-cta {
	margin: 5px auto 30px;
	text-align: center;
	.button {
		border-radius: 3px;
		display: inline-block;
		font-weight: 700;
		padding: 10px 20px;
		text-decoration: none;
		&.bordered {
			border: 1px solid;
		}
		&.open-in-app {
			display: none;
		}
	}
}

.pop-menu ul li a .arrow:before, .post-controls .control.share-control .share:before, .post-controls .like_button.liked.interacted:after, .post-controls .like_button.liked:before, .post-controls .like_button:before, .post-controls .reblog_button:before, .reblog-link .reblog-icon:before, .reblog-link .reblog_sm:before {
	font-family: "optica-icons", "Blank";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	text-decoration: none;
	text-transform: none;
}

[class*=" icon_"], [class^=icon_] {
	line-height: 1;
}

[data-icon]:before {
	content: attr(data-icon);
}

.icon_arrow_carrot_right:before, .icon_close:before, .icon_dotdotdot:before, .icon_like:before, .icon_like_filled:before, .icon_noop:before, .icon_reblog:before, .icon_reblog_sm:before, .icon_search:before, [data-icon]:before {
	display: inline-block;
	font-family: "optica-icons";
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.icon_arrow_carrot_right:before {content: "EA01";}
.icon_close:before              {content: "EA02";}
.icon_dotdotdot:before          {content: "EA03";}
.icon_like:before               {content: "EA04";}
.icon_like_filled:before        {content: "EA05";}
.icon_noop:before               {content: "EA06";}
.icon_reblog:before             {content: "EA07";}
.icon_reblog_sm:before          {content: "EA08";}
.icon_search:before             {content: "EA09";}

br.clear, div.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

.glass {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}

.glass.active, .pop-menu.show {
	display: block;
}

.pop-menu {
	display: none;
	background: #fff;
	border-radius: 3px;
	position: absolute;
	bottom: 35px;
	left: -64px;
	width: 146px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
	z-index: 10;
	ul {
		float: none;
		margin: 0 !important;
		padding: 0;
		li {
			border-left: none;
			float: none;
			height: auto;
			position: relative;
			width: auto;
			&:not(.no-hover):hover {
				background: #e6eff7;
			}
			&:first-child:hover {
				border-radius: 4px 4px 0 0;
			}
			&:last-child {
				border-bottom: none;
				&:hover {
					border-radius: 0 0 4px 4px;
				}
			}

			&:first-child {
				border-top: none;
			}

			a {
				background: 0 0;
				color: #444;
				display: block;
				font-size: 14px;
				height: auto;
				margin: 0;
				padding: 6px 30px 6px 10px;
				position: relative;
				text-decoration: none;
				width: auto;
				.arrow {
					font-size: 11px;
					position: absolute;
					right: 8px;
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					&:before {
						content: "\EA01";
					}

				}
			}
			.open-in-app {
				display: none;
			}

		}
	}
	&.show {
		opacity: 0;
		-webkit-transition: all .25s cubic-bezier(.68, -.55, .265, 1.55);
		transition: all .25s cubic-bezier(.68, -.55, .265, 1.55);
	}
	&.active {
		opacity: 1;
	}
}

.share-menu {
	bottom: 25px;
	&.active {
		bottom: 30px;
	}

	ul li a, ul li a:hover {
		opacity: 1;
	}

}

.header-image-wrapper {
	position: relative;
	height: 350px;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: height .25s linear;
	transition: height .25s linear;
}

.header-image {
	background: 50% 50% no-repeat;
	display: block;
	height: 100%;
	opacity: 0;
	position: relative;
	-webkit-transition: opacity .15s ease;
	transition: opacity .15s ease;

	img {
		max-width: 80%;
		max-height: 80%;
		max-height: calc(100% - 100px);
		position: relative;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	&.cover img {
		display: none;
	}

	&.contain {
		background-image: none !important;
		margin: auto;
	}

	&.loaded {
		opacity: 1;
	}

	&.cover {
		background-size: cover;
		margin: 0 -1px;
	}

	&.cover:not(.loaded)+.loader-bg {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba(68, 68, 68, .1);
	}
}

.blog-title-wrapper {
	text-align: center;
	position: relative;
}

.blog-title {
	font-size: 56px;
	line-height: 1.2;
	margin: 40px 0 0;
	word-wrap: break-word;
	a {
		color: #444;
		display: block;
		text-decoration: none;
	}
}

.description {
	color: #666;
	margin: 15px 0 0;
	display: block;
}

.avatar-wrapper {
	left: 50%;
	margin-left: -57px;
	position: absolute;
	top: -78px;
	&.animate {
		-webkit-animation: grow .5s cubic-bezier(.23, 1, .32, 1);
		animation: grow .5s cubic-bezier(.23, 1, .32, 1);
	}
}

.user-avatar {
	background: #666 50% 50% no-repeat;
	background-size: 106px 106px;
	border-radius: 4px;
	display: block;
	height: 106px;
	width: 106px;
	border: 4px solid #f6f6f6;
	position: relative;
}

.avatar-style-square .avatar-wrapper {
	margin-left: -53px;
}

.avatar-style-square .user-avatar {
	border: none;
	box-shadow: 0 0 0 4px #f6f6f6;
}

.avatar-hidden .avatar-wrapper, .avatar-style-hidden .avatar-wrapper {
	display: none;
}

.avatar-style-circle .user-avatar {
	border-radius: 50%;
}

.avatar-hidden .blog-title {
	margin-top: 23px;
}

.content {
	margin-left: auto;
	margin-right: auto;
	padding: 1px 20px;
	position: relative;
	z-index: 2;
	max-width: 702px;
	min-width: 270px;
}

.narrow .content {
	max-width: 502px;
}

#posts {
	margin-top: 35px;

	&.no-title-desc.avatar-hidden,
	&.no-title-desc.avatar-style-hidden,
	&.no-title-desc.no-image.avatar-hidden {
		margin-top: 27px;
	}

	&.no-title-desc.avatar-style-circle:not(.show-nav),
	&.no-title-desc.avatar-style-square:not(.show-nav) {
		margin-top: 70px;
	}
}

.post-wrapper {
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	padding: 0;
	position: relative;
	background-clip: padding-box;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, .08);
	margin-bottom: 20px;

	a {
		color: inherit;
		text-decoration: underline;
	}
}

.reblog-header {
	display: none;
}

.post {
	padding: 0;
	position: relative;
	word-wrap: break-word;
	overflow: hidden;
}

.post-content {
	h2 {
		font-size: 22px;
		line-height: 1.16;
		font-family: "Gibson", "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
		font-weight: 400;
		margin: .75em 0;
		&.title {
			font-size: 36px;
			a {
				text-decoration: none;
			}
		}
	}

	h3, h4, h5, h6 {
		line-height: 1.16;
		margin: 16px 0;
		font-size: 15px;
		font-weight: 700;
	}

	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: inherit;
		}
	}

	p {
		margin: 0;
	}

	img+p,
	p+img,
	p+p {
		margin-top: 1em;
	}

	.inlineEmbed,
	dl,
	menu,
	ol,
	ul {
		margin: 1em 0;
	}

	.inlineEmbed:first-child,
	dl:first-child,
	menu:first-child,
	ol:first-child,
	ul:first-child {
		margin-top: 0;
	}

	.inlineEmbed:last-child,
	dl:last-child,
	menu:last-child,
	ol:last-child,
	ul:last-child {
		margin-bottom: 0;
	}

	blockquote {
		border-left: 3px solid #eee;
		margin: 1em 0;
		padding-left: 20px;
	}

	blockquote:last-child {
		margin-bottom: 0;
	}

	.caption {
		margin: 20px;
	}

	.answerer-answer figure,
	.asker-question figure,
	.body-text figure,
	.caption figure,
	.replies figure,
	.source figure {
		margin: 1em 0;
		text-align: center;
	}

	.answerer-answer figure:last-child,
	.asker-question figure:last-child,
	.body-text figure:last-child,
	.caption figure:last-child,
	.replies figure:last-child,
	.source figure:last-child {
		margin-bottom: 0;
	}

	.answerer-answer figure+figure,
	.asker-question figure+figure,
	.body-text figure+figure,
	.caption figure+figure,
	.replies figure+figure,
	.source figure+figure {
		margin-top: 0;
	}

	.answerer-answer figure p.tmblr-attribution,
	.asker-question figure p.tmblr-attribution,
	.body-text figure p.tmblr-attribution,
	.caption figure p.tmblr-attribution,
	.replies figure p.tmblr-attribution,
	.source figure p.tmblr-attribution {
		margin-top: 0;
		background-color: #f7f7f7;
		color: #a1a1a1;
		font-size: 12px;
		text-align: left;
		padding: 5px 20px;
	}

	.answerer-answer figure p.tmblr-attribution a,
	.asker-question figure p.tmblr-attribution a,
	.body-text figure p.tmblr-attribution a,
	.caption figure p.tmblr-attribution a,
	.replies figure p.tmblr-attribution a,
	.source figure p.tmblr-attribution a {
		text-decoration: none;
		background-image: none;
		margin: -5px -20px;
		padding: 5px 20px;
		color: #a1a1a1;
		display: block;
		position: relative;
	}

	.body-text .tmblr-embed,
	.body-text .tmblr-full,
	.caption .tmblr-embed,
	.caption .tmblr-full {
		margin-left: -20px;
		margin-right: -20px;
	}

	.source .tmblr-embed,
	.source .tmblr-full {
		margin-right: -20px;
	}

	.answerer-answer .tmblr-embed,
	.answerer-answer .tmblr-full,
	.asker-question .tmblr-embed,
	.asker-question .tmblr-full,
	.replies .tmblr-embed,
	.replies .tmblr-full {
		margin-left: -20px;
		margin-right: -20px;
	}

	.answerer-answer .tmblr-embed p,
	.answerer-answer .tmblr-full p,
	.asker-question .tmblr-embed p,
	.asker-question .tmblr-full p,
	.body-text .tmblr-embed p,
	.body-text .tmblr-full p,
	.caption .tmblr-embed p,
	.caption .tmblr-full p,
	.replies .tmblr-embed p,
	.replies .tmblr-full p,
	.source .tmblr-embed p,
	.source .tmblr-full p {
		padding-left: 20px;
		padding-right: 20px;
	}

	.answerer-answer .tmblr-embed .tmblr-embed,
	.answerer-answer .tmblr-embed .tmblr-full,
	.answerer-answer .tmblr-full .tmblr-embed,
	.answerer-answer .tmblr-full .tmblr-full,
	.answerer-answer blockquote .tmblr-embed,
	.answerer-answer blockquote .tmblr-full,
	.asker-question .tmblr-embed .tmblr-embed,
	.asker-question .tmblr-embed .tmblr-full,
	.asker-question .tmblr-full .tmblr-embed,
	.asker-question .tmblr-full .tmblr-full,
	.asker-question blockquote .tmblr-embed,
	.asker-question blockquote .tmblr-full,
	.body-text .tmblr-embed .tmblr-embed,
	.body-text .tmblr-embed .tmblr-full,
	.body-text .tmblr-full .tmblr-embed,
	.body-text .tmblr-full .tmblr-full,
	.body-text blockquote .tmblr-embed,
	.body-text blockquote .tmblr-full,
	.caption .tmblr-embed .tmblr-embed,
	.caption .tmblr-embed .tmblr-full,
	.caption .tmblr-full .tmblr-embed,
	.caption .tmblr-full .tmblr-full,
	.caption blockquote .tmblr-embed,
	.caption blockquote .tmblr-full,
	.replies .tmblr-embed .tmblr-embed,
	.replies .tmblr-embed .tmblr-full,
	.replies .tmblr-full .tmblr-embed,
	.replies .tmblr-full .tmblr-full,
	.replies blockquote .tmblr-embed,
	.replies blockquote .tmblr-full,
	.source .tmblr-embed .tmblr-embed,
	.source .tmblr-embed .tmblr-full,
	.source .tmblr-full .tmblr-embed,
	.source .tmblr-full .tmblr-full,
	.source blockquote .tmblr-embed,
	.source blockquote .tmblr-full {
		margin-left: 0;
		margin-right: 0;
	}

	.answerer-answer .tmblr-full>img,
	.asker-question .tmblr-full>img,
	.body-text .tmblr-full>img,
	.caption .tmblr-full>img,
	.replies .tmblr-full>img,
	.source .tmblr-full>img {
		width: 100%;
	}

	.answerer-answer blockquote p,
	.asker-question blockquote p,
	.body-text blockquote p,
	.caption blockquote p,
	.replies blockquote p,
	.source blockquote p {
		padding-left: 0;
		padding-right: 0;
	}

	.source .tmblr-embed,
	.source .tmblr-full {
		position: relative;
		margin-left: -45px;
	}
}

.read_more_container {
	text-align: center;
}

.read_more {
	@extend .btn;
	@extend .btn-secondary;
	@extend .btn-secondary-fill;
	padding: 10px 20px;
	text-decoration: none !important;
}

.post img {
	height: auto;
}

.post iframe, .post img, .post object {
	max-width: 100%;
}

.panel, .post-footer {
	z-index: 1;
	height: 50px;
	position: relative;
	width: 100%;
}

.post-footer {
	clear: both;
	display: table;
	z-index: 2;
}

.date-notes, .post-controls {
	display: table-cell;
	vertical-align: middle;
}

.date-notes .date-note-wrapper {
	margin-left: 20px;
}

.date-notes .post-date.post-date {
	display: none;
}

.date-notes .post-notes {
	font-weight: 700;
}

.post-notes+.post-date {
	margin-top: 1px;
}

.post-controls {
	min-width: 150px;
	color: #a7a7a7;

	.controls-wrapper {
		text-align: right;
		margin-right: 20px;
	}

	.control {
		display: inline-block;
		position: relative;
		text-align: left;
		vertical-align: middle;
		font-size: 24px;
		margin-left: 4px;
	}


	.control .like_button,
	.control .reblog_button,
	.control .share {
		display: block;
		text-decoration: none;
		color: inherit;
	}


	.control .like_button:hover,
	.control .reblog_button:hover,
	.control .share:hover {
		color: #8c8c8c;
	}


	.control .like_button::before,
	.control .reblog_button::before,
	.control .share::before {
		display: block;
		line-height: 1;
	}

	.control.share-control .share:before {
		content: "\EA03";
	}

	.reblog_button:before {
		content: "\EA07";
	}

	.reblog_button svg {
		display: none;
	}

	.like_button:before {
		content: "\EA04";
	}

	.like_button.liked {
		color: #d75f45;
	}

	.like_button.liked:before {
		content: "\EA05";
	}

	.like_button.liked:hover {
		color: #d75f45;
	}

	.like_button.liked.interacted:after {
		content: "\EA05";
	}

	.like_button.liked.interacted::after {
		color: #d75f45;
		position: absolute;
		top: -48px;
		left: 50%;
		height: 48px;
		width: 48px;
		font-size: 48px;
		line-height: 1;
		margin-left: -24px;
		-webkit-animation: wiggle .6s ease-out;
		animation: wiggle .6s ease-out;
		z-index: 0;
		opacity: 0;
		speak: none;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		pointer-events: none;
	}

	.like_button iframe {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		opacity: 0;
	}
}

.caption * {
	font-size: inherit;
	line-height: 1.6;
}

#pagination a {
	border-radius: 4px;
	color: #858585;
	display: block;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
	text-decoration: none;
	padding: 10px 28px 10px 18px;
	position: relative;
	opacity: .7;
	box-sizing: border-box;
	float: left;

	&:after {
		content: '';
		border: 6px solid transparent;
		width: 0;
		height: 0;
		position: absolute;
		top: 15px;
	}

	&.next {
		float: right;
		&:after {
			border-left: 7px solid #858585;
			right: 10px;
		}
	}

	&.previous {
		padding: 10px 18px 10px 28px;
		&:after {
			border-right: 7px solid #858585;
			left: 10px;
		}
	}

	&:active {
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
	}

	.bg {
		border-radius: 4px;
		border: 1px solid;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .15;
	}

	&.invisible {
		pointer-events: none;

		.bg {
			display: none;
		}
	}
}

.loader {
	position: absolute;
	line-height: 0;
	top: 10px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	.loader-bar {
		display: none;
		height: 16px;
		width: 16px;
		margin: 0 3px;
		opacity: .1;
		border-radius: 4px;
		background-color: #d9d9d9;
	}
}

.animate>.loader-bar {
	display: inline-block;
	-webkit-animation: loader-oscillate ease-in-out 300ms infinite alternate;
	animation: loader-oscillate ease-in-out 300ms infinite alternate;
}

.loader-bar:nth-child(1) {
	-webkit-animation-delay: -200ms;
	animation-delay: -200ms;
}

.loader-bar:nth-child(2) {
	-webkit-animation-delay: -100ms;
	animation-delay: -100ms;
}

.inline-meta, .post-extra {
	font-size: 14px;
}

.inline-meta .meta-item {
	display: inline-block;
	margin-right: 10px;
	color: #a7a7a7;
	text-decoration: none;
	line-height: 1.2;
}

.inline-meta .meta-item:hover {
	color: #8c8c8c;
}

.post-extra {
	font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
	margin: 0;
}

.post-extra::after {
	clear: both;
	content: "";
	display: table;
}

.post-extra.has-reblog, .post-extra.has-source, .post-extra.has-tags {
	margin: 0 20px 5px;
}

.post-extra .tag-link:before {
	content: '#';
}

.reblog-link {
	position: relative;
}

.reblog-link:hover:before {
	color: #a7a7a7;
}

.reblog-link .reblog-icon:before {
	content: "\EA07";
}

.reblog-link .reblog_sm {
	vertical-align: sub;
	font-size: 20px;
	margin-left: -5px;
}

.reblog-link .reblog_sm:before {
	content: "\EA08";
}

.notes-wrapper {
	position: absolute;
	bottom: -45px;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #eee;
	border-radius: 3px;
	width: 400px;
	left: 65px;
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .1);
	display: none;
	z-index: 5;

	&.show {
		display: block;
		opacity: 0;
		-webkit-transition: all .25s cubic-bezier(.68, -.55, .265, 1.55);
		transition: all .25s cubic-bezier(.68, -.55, .265, 1.55);
	}

	&.active {
		opacity: 1;
	}

	.notes {
		padding: 6px 13px;
		max-height: 69vh;
		overflow: scroll;
	}
}

.narrow .notes-wrapper {
	width: 478px;
}

.notes-wrapper-header {
	display: none;
	text-align: center;
	padding: 10px 13px;
	font-size: 18px;
	font-weight: 700;
	border-bottom: 1px solid #eee;
}

.notes-wrapper-header-close {
	float: right;
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.notes {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		color: #bdbdbd;
		color: rgba(90, 90, 90, .6);
		font-size: 14px;
		padding: 14px 0 9px;
		border-top: 1px solid #eee;

		&:first-child {
			border-top: 0;
		}

		&.more_notes_link_container {
			padding: 0;
		}

		&.more_notes_link_container .more_notes_link,
		&.more_notes_link_container .notes_loading {
			padding: 14px 0 9px;
		}

		.reply {
			margin: 0;
		}
	}
}

.avatar_frame {
	display: block;
	float: left;
	position: relative;
	margin: -2px 12px 0 0;
	border-radius: 2px;
	&:before {
		content: '';
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		border-radius: 2px;
	}

	&:after {
		display: none;
		content: '';
		background: url('//static.tumblr.com/vr9xgox/X4en0lgid/sprite-1x.png') 0 0 no-repeat;
		width: 16px;
		height: 16px;
		position: absolute;
		bottom: -6px;
		z-index: 10;
		right: -8px;
	}
}

.reblog.note .avatar_frame:after {
	display: block;
	background-position: 0 0;
}

.like.note .avatar_frame:after {
	display: block;
	background-position: -28px 0;
}

.answer.note .avatar_frame:after, .reply.note .avatar_frame:after {
	display: block;
	background-position: -56px 0;
}

.original_post.note .avatar_frame:after, .tag.note .avatar_frame:after {
	display: none;
}

.notes {
	.avatar {
		border-radius: 2px;
		height: 25px;
		position: relative;
		width: 25px;
	}
	.action {
		float: left;
		width: 80%;
	}
	a {
		color: inherit;
		font-weight: 700;
		text-decoration: none;
		&:hover {
			color: rgba(90, 90, 90, .7);
		}
	}
}

.notes blockquote, .quote .notes blockquote {
	border-left: 2px solid #eee;
	font-size: inherit;
	line-height: 1.4;
	margin: 3px 35px 0;
	quotes: none;
	padding: 0 0 0 10px;
}

.more_notes_link {
	border-radius: 4px;
	color: #858585;
	display: block;
}

.comments {
	margin: 25px 20px 20px;
	position: relative;
	padding: 0;
	&:before {
		content: '';
		top: 0;
		border-top: 1px solid #eee;
		position: absolute;
		width: 100%;
		margin: -20px;
		padding: 20px;
	}
}

.search-no-results {
	margin: 15px auto;
	text-align: center;
}

.permalink .date-notes .post-date {
	display: inline-block;
}

.index-page.grid .post-extra, .permalink .post-extra {
	margin: 0 20px 5px;
}

.index-page.grid #posts, .index-page.grid.no-results #posts.masonry {
	max-width: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	box-sizing: border-box;
}

.index-page.grid #posts.masonry {
	box-sizing: content-box;
}

.index-page.grid #posts article {
	float: left;
	margin: 0 15px 30px;
	opacity: 0;
	width: 300px;
}

.index-page.grid .post-wrapper {
	overflow: visible;
}

.index-page.grid .post {
	margin-bottom: 0;
}

.index-page.grid .panel {
	opacity: 1;
	z-index: 2;
	height: auto;
}

.index-page.grid figure.photoset, .post-content .title {
	margin: 0;
}

.index-page.grid .post-footer {
	opacity: 1;
}

.index-page.grid .photo-wrapper-inner {
	padding: 0;
}

.index-page.grid .photo-wrapper-inner img {
	margin: 0 !important;
	width: 100%;
}

.index-page.grid .post-content menu, .index-page.grid .post-content ol, .index-page.grid .post-content ul {
	padding-left: 25px;
}

.index-page.grid .answer_form_container iframe {
	min-height: 143px;
}

.index-page.grid iframe[src^="//instagram"] {
	min-height: 370px;
}

.text .post-content {
	padding: 20px;
}

.post-content .title+.body-text {
	margin-top: 1em;
}

.post-content .body-text {
	line-height: 1.6;
}
