* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: $txt-primary;
	font-family: "Open Sans", sans-serif;
}

a {
	color: $primary-color;
	text-decoration: none;
	transition-timing-function: ease;
	transition-duration: 200ms;
	transition-property: color, border-color, background-color;
}

a:hover, a:focus {
	color: $primary-color-light;
	text-decoration: none;
}

.section-padding {
	padding: $section-padding;
}

p {
	line-height: 1.6;
	color: $txt-primary;
	padding-bottom: 20px;
}

hr {
	width: 80%;
	padding-bottom: 20px;
	margin: 5px auto $txt-accent;
	border: none;
	border-top: 1px solid;
}
