.rounded-font
	font-family: "Nunito", sans-serif

.bg-primary
	background-color: $primary

.bg-accent
	background-color: $accent

.primary
	color: $primary

.accent
	color: $accent

.error
	color: $error

.white
	color: white

.small
	font-size: .8em

.full-width
	display: block
	width: 100%

.no-margin-top
	margin-top: 0

.no-margin-bottom
	margin-bottom: 0

.line-break
	white-space: nowrap

.uppercase
	text-transform: uppercase
	letter-spacing: 2px
