.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}
.text-center {
	text-align: center;
}

.hidden {
	display: none !important;
}

.hidden, .invisible {
	visibility: hidden;
}

.print-only {
	display: none;
}

.clearfix {
	zoom: 1;
}

.clearfix:after, .clearfix:before {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

@media (max-width: 991px) {
	.last {
		margin: 0;
	}
}
