.box {
	background: white;
	border-radius: 3px;
	box-shadow: 0 3px 15px rgba(black, .13);
	overflow: hidden;
}

.box-title {
	padding: 20px;
	margin: 0;
	color: white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: $txt-secondary;
}

.box-content {
	padding: 20px;
}
