.btn {
	display: inline-block;
	padding: 5px 10px;
	color: $txt-secondary;
	font-size: 13px;
	text-transform: uppercase;
	border: solid 2px;
	border-color: $txt-secondary;
	border-radius: 100px;
	cursor: pointer;
	transition: .4s all;
	&:hover {
		background-color: rgba(white, .4);
	}
	&.btn-fill {
		background-color: $txt-secondary;
		color: white;
		&:hover {
			background-color: lighten($txt-secondary, 10%);
			border-color: lighten($txt-secondary, 10%);
		}
	}
}

.btn-white {
	color: white;
	border-color: white;
	&.btn-fill {
		color: $txt-secondary;
		background-color: white;
		&:hover {
			background-color: white;
			border-color: white;
		}
	}
}

.btn-secondary {
	color: $secondary-color;
	border-color: $secondary-color;
	&.btn-fill {
		color: white;
		background-color: $secondary-color;
		&:hover {
			background-color: $secondary-color-light;
			border-color: $secondary-color-light;
		}
	}
}

.btn-large {
	padding: 15px 40px;
}

.btn-margin-right {
	margin-right: 20px;
}
