.section-secondary {
	background-color: $section-dark;
}

.section-title {
	margin-top: 0;
	font-family: "Nunito";
	font-size: 2.6em;
	letter-spacing: 1px;
}

.section-foreground {
	position: relative;
	z-index: 99;
}
