<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title }}</title>
		{% if description %}
			<meta name="description" content="{{ description }}">
		{% endif %}
		<meta name="keywords" content="Immobilien,Programm,Verwaltung,Makler,Exposé,PDF,Website">
		<link rel="alternate" hreflang="de" href="/{{ link }}">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Palanquin:400,700">
		<link rel="stylesheet" href="/assets/css/main.css">

		<noscript>
			<style>
				.animate-in { visibility: visible; }
			</style>
		</noscript>
	</head>
<!--

                     _ ___
 ___ _ _ ___ ___ ___|_|  _|_ _
| -_|_'_| . | . |_ -| |  _| | |
|___|_,_|  _|___|___|_|_| |_  |
        |_|               |___|

Hi, Du hast unseren Website Quelltext gefunden.
Du bist neugierig, Du bist nach unserem Geschmack.
Kontaktiere uns, wenn Du Dir vorstellen kannst
gemeinsam mit uns zu arbeiten.


-->
	<body class="{{ bodyClasses }}">
		<!--[if lt IE 10]><p class="browserupgrade">Sie benutzen einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/">aktualisieren Sie ihren Browser</a> um das Internet-Erlebnis zu verbessern.</p><![endif]-->

		<div class="header-wrapper {% if floatingHeader %}header-wrapper-overlay{% endif %}">
			{% include "./partials/contact-header.njk" %}
			{% include "./partials/header.njk" %}
		</div>

		<main>
			{% block content %}{% endblock %}
		</main>

		{% include "./partials/footer.njk" %}

		{% block foot %}{% endblock %}

		<script src="https://www.google.com/recaptcha/api.js"></script>
		<script src="/assets/js/main.js"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
