<div class="contact-header">
	<div class="row">
		<div class="small-12 column">
			<span class="contact-header-phone-cta">Rufen Sie uns an: </span><a href="tel:+4944212099844">+49 (0) 4421 2099844</a>
			<a class="contact-header-login" href="https://app.exposify.de">Login →</a>
		</div>
	</div>
</div>
