<footer class="footer footer-transition-light">
	<div class="row">
		<div class="small-12 large-5 column footer-left-section">
			<img class="footer-logo" src="/assets/img/exposify_logo_symbol.svg" alt="Exposify">

			<div class="footer-copy">
				© Exposify UG (haftungsbeschränkt)<br>
				Mit <span class="fa fa-heart"></span> aus dem Norden<br>
				<br>
				<a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#116;&#101;&#097;&#109;&#064;&#101;&#120;&#112;&#111;&#115;&#105;&#102;&#121;&#046;&#100;&#101;">&#116;&#101;&#097;&#109;&#064;&#101;&#120;&#112;&#111;&#115;&#105;&#102;&#121;&#046;&#100;&#101;</a><br>
				<a href="tel:+4944212099844">+49 (0) 4421 2099844</a>
			</div>
		</div>
		<div class="small-12 large-7 column footer-right-section">
			<div class="row">
				<div class="medium-4 column">
					<h2 class="white footer-heading">Informationen</h2>
					<ul class="footer-list">
						<li><a target="_blank" href="https://status.exposify.de">Server Status</a></li>
						<li><a target="_blank" href="https://docs.exposify.de">Hilfe und FAQ</a></li>
						<li><a href="/imprint/">Impressum</a></li>
						<li><a href="/datenschutz/">Datenschutz</a></li>
						<li><a href="/agb/">AGB</a></li>
					</ul>
				</div>
				<div class="medium-4 column">
					<h2 class="white footer-heading">Support</h2>
					<ul class="footer-list">
						<li><a href="/contact/">Kontakt</a></li>
						<li><a class="js-open-chat" href="#">Chat-Support</a></li>
						<li><a target="_blank" href="https://api.whatsapp.com/send?phone=4944212099844">Support auf WhatsApp</a></li>
						<li><a target="_blank" href="https://twitter.com/messages/compose?recipient_id=4857195971">Support per Twitter</a></li>
					</ul>
				</div>
				<div class="medium-4 column">
					<h2 class="white footer-heading">Uns Folgen</h2>
					<ul class="footer-list">
						<li><a target="_blank" href="https://twitter.com/exposifyapp">Twitter</a></li>
						<li><a target="_blank" href="https://www.facebook.com/exposifyapp">Facebook</a></li>
						<li><a target="_blank" href="https://www.xing.com/companies/exposify">Xing</a></li>
						<li><a target="_blank" href="https://www.linkedin.com/company/exposify-f%C3%BCr-makler">LinkedIn</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
