<footer class="footer {% if footerLight %}footer-light{% endif %} footer-transition-light">
	<div class="row">
		<div class="small-12 large-5 column footer-left-section">
			{% if footerLight %}
				<img class="footer-logo" src="/assets/img/exposify_logo_simple.svg" alt="Exposify">
			{% else %}
				<img class="footer-logo" src="/assets/img/exposify_logo_simple_white.svg" alt="Exposify">
			{% endif %}

			<div class="footer-copy">
				© Exposify 2018<br>
				Mit <span class="fa fa-heart"></span> aus Deutschland<br>
				<br>
				<a href="/contact/">Kontakt</a> <span class="bull">&bull;</span>
				<a href="/imprint/">Impressum</a> <span class="bull">&bull;</span> <a href="/agb/">AGB</a>
			</div>
		</div>
		<div class="small-12 large-7 column footer-right-section">
			<div class="row">
				<div class="medium-4 column">
					<h2 class="white footer-heading">Uns Folgen</h2>
					<ul class="footer-list">
						<li><a target="_blank" href="https://twitter.com/exposifyapp">Twitter</a></li>
						<li><a target="_blank" href="https://www.facebook.com/exposifyapp">Facebook</a></li>
						<li><a target="_blank" href="https://www.xing.com/companies/exposify">Xing</a></li>
						<li><a target="_blank" href="https://www.linkedin.com/company/exposify-f%C3%BCr-makler">LinkedIn</a></li>
					</ul>
				</div>
				<div class="medium-4 column">
					<h2 class="white footer-heading">Support</h2>
					<ul class="footer-list">
						<li class="footer-twitter"><a target="_blank" href="https://twitter.com/exposifyapp">Support auf Twitter</a></li>
						<li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#116;&#101;&#097;&#109;&#064;&#101;&#120;&#112;&#111;&#115;&#105;&#102;&#121;&#046;&#100;&#101;">Support per Mail</a></li>
					</ul>
				</div>
				<div class="medium-4 column">
					<h2 class="white footer-heading">Informationen</h2>
					<ul class="footer-list">
						<li><a target="_blank" href="http://status.exposify.de/">Server Status</a></li>
						<li><a target="_blank" href="http://docs.exposify.de/">Hilfe und FAQ</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
