<header class="header {% if floatingHeader %}header-overlay{% endif %}">
	<div class="row">
		<div class="small-12 column">
			<a class="header-logo logo" href="/">
				<img class="logo-symbol" src="/assets/img/exposify_logo_symbol.svg" alt="Exposify Symbol">
				<img class="logo-wordmark" src="/assets/img/exposify_logo_wordmark.svg" alt="Exposify">
			</a>
			<nav class="header-nav">
				<div class="header-nav-element js-show-header-nav-dropdown">
					Produkt
					<div class="header-nav-dropdown">
						<a href="/websites">Websites</a>
						<a href="/crm">Kunden</a>
						<a href="/exposes">Exposés</a>
						<a href="/analytics">Analysen</a>
					</div>
				</div>
				<a class="header-nav-element" href="/pricing">Preise</a>
				<a class="header-nav-element" href="https://app.exposify.de">Login</a>
				<a class="header-nav-element no-mobile btn btn-white btn-square" href="/#signup">Kostenlos starten</a>
			</nav>
			<button class="header-hamburger js-toggle-header-menu" type="button">
				<span class="line line-1"></span>
				<span class="line line-2"></span>
				<span class="line line-3"></span>
			</button>
		</div>
	</div>
</header>
