<section class="info" id="info">
	<div class="full-width row">
		<div class="medium-6 xlarge-12 column offers-wrapper">
			<div class="row offers">
				<div class="xlarge-7 column">
					<img class="offers-image" src="/assets/img/exposify_browser.png" alt="Exposify App">
				</div>
				<div class="xlarge-5 column">
					<div class="offers-blurb">
						<p class="primary uppercase info-tagline">Immobilien Web-App</p>
						<h2 class="info-heading">Angebote <span class="line-break">im Fokus</span></h2>
						<p>Ein zentraler Ort für alle Ihre Immobilien, der sich Ihren Bedürfnissen anpasst. Versorgen Sie Ihre Interessenten sofort mit allen relevanten Informationen und steigern Sie somit Ihre Produktivität.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="medium-6 xlarge-12 column connected-wrapper">
			<div class="row connected">
				<div class="xlarge-7 xlarge-push-5 column">
					<img class="connected-image" src="/assets/img/exposify_connected.png" alt="Exposify Verbunden">
				</div>
				<div class="xlarge-5 xlarge-pull-7 column">
					<div class="connected-blurb">
						<p class="primary uppercase info-tagline">Für moderne Makler</p>
						<h2 class="info-heading">Mit allem verbunden</h2>
						<p>Bearbeiten Sie Immobilien alleine oder im Team. Mit einem Klick sind Änderungen automatisch auf Ihrer Website, PDF-Exposés und den integrierten Immobilienportalen.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
