<div class="modal-overlay" id="modal-overlay"></div>

<div class="modal box">
	<div class="box-action"><i class="fa fa-close js-modal-toggle"></i></div>
	<form class="box-content ajax" action="https://app.exposify.de/xhr-send-invite" method="post">
		<?php if (isset($_GET['ref'])): ?>
			<input type="hidden" name="referral" value="<?php echo htmlspecialchars($_GET['ref']); ?>">
		<?php endif ?>
		<h2 class="no-margin-top">Los geht's</h2>
		<p>
			Sehr gut, an welche Email Adresse sollen wir Ihre Einladung für Exposify senden?
		</p>
		<div class="field" style="margin-bottom: .8em;">
			<i class="accent field-icon fa fa-envelope"></i>
			<input class="field-input field-input-accent" type="email" name="email" placeholder="Email Adresse" required>
		</div>
		<div class="small response" style="margin: 1.2em 0;"></div>
		<button class="btn btn-accent btn-fill btn-square btn-large btn-bold full-width" type="submit">Kostenlos starten</button>
	</form>
</div>
