<section id="platform" class="platform">
	<div class="row">
		<div class="column text-center" style="margin-top: 70px;">
			<img src="/assets/img/exposify_connected.png" style="width: 750px;" alt="Exposify ist mit allem verbunden">
			<h2>Eine Plattform für Ihr Immobilienmarketing</h2>
			<p style="max-width: 540px; margin: 0 auto;">
				Legen Sie Ihre Immobilienangebote einmal zentral an und
				stellen Sie diese dann automatisch auf die größten
				Immobilienportale <span class="line-break">und Ihre Website.</span>
				Außerdem können Sie mit einem Klick PDF-Exposés
				in Ihrem Design an Interessenten verschicken.
			</p>
		</div>
	</div>
</section>
