<section class="testimonials">
	<h2 class="testimonials-heading text-center">Was unsere Kunden sagen</h2>
	<div class="row">
		<div class="small-12 column">

			<div class="testimonials-navigate left js-testimonial-prev">←</div>
			<div class="testimonials-navigate right js-testimonial-next">→</div>

			<div id="testimonial-1" class="box box-fluid">
				<div class="box-content">
					<p>
						Exposify, ein dynamisches Start-Up, dass die Zufriedenheit des Kunden in den
						Mittelpunkt seines Schaffens stellt. Obwohl noch sehr jung, zeigt sich Exposify
						als ein verlässlicher Service-Partner mit dem wir gerne zusammenarbeiten.
						Die Besucherzahlen sowie „Trefferlisten“ bei Suchmaschinen haben sich nach der
						Optimierung durch Exposify deutlich verbessert. Wir können eine uneingeschränkte
						Empfehlung geben.
					</p>
					<span>
						<b>Cornelia Coradini</b><br>
						Cordomus Hausverwaltung &amp; Immobilienmanagement
					</span>
				</div>
			</div>

			<div id="testimonial-2" class="box box-fluid">
				<div class="box-content">
					<p>
						Ich habe positive Erfahrung bei der Zusammenarbeit mit Exposify gemacht.
						Sowohl mit der Firma, als auch mit dem Produkt. Die App ist übersichtlich und
						selbsterklärend. Falls es doch einmal ein Problem gab, hab ich immer direkt Hilfe
						bekommen, gerade auch deswegen, weil mein direkter Ansprechpartner einen persönlichen
						Bezug zu mir hat und mir so sofort die passenden Antworten geben kann.
					</p>
					<span>
						<b>Birgit Stauss-Rehbein</b><br>
						Immobilien am Meer mit Flair
					</span>
				</div>
			</div>

			<div id="testimonial-3" class="box box-fluid">
				<div class="box-content">
					<p>
						Wenn es um einfache Bedienung geht, ist Exposify sehr gut aufgestellt – es lässt
						sich intuitiv verwenden. Wir benutzen die App, um die Angebote auf unserer Website
						mit wenig Aufwand zu bearbeiten. Somit sind wir im Onlinemarketing flexibel und
						können alleine unsere Website anpassen. Mit einem Klick können wir schöne Exposés
						erstellen – das gefällt nicht nur uns, sondern kommt auch bei unseren Kunden gut an.
					</p>
					<span>
						<b>Lena Schröder</b><br>
						Bakir Immobilien
					</span>
				</div>
			</div>

		</div>
	</div>
</section>
