<section class="testimonials">
	<h2 class="testimonials-heading text-center">Was unsere Kunden sagen</h2>
	<div class="row">
		<div class="small-12 column">

			<div class="testimonials-navigate left js-testimonial-prev">←</div>
			<div class="testimonials-navigate right js-testimonial-next">→</div>

			<div id="testimonial-1" class="box box-fluid">
				<div class="box-content">
					<p>
						Exposify, ein dynamisches Start-Up, dass die Zufriedenheit des Kunden in den
						Mittelpunkt seines Schaffens stellt. Obwohl noch sehr jung, zeigt sich Exposify
						als ein verlässlicher Service-Partner mit dem wir gerne zusammenarbeiten.
						Die Besucherzahlen sowie „Trefferlisten“ bei Suchmaschinen haben sich nach der
						Optimierung durch Exposify deutlich verbessert. Wir können eine uneingeschränkte
						Empfehlung geben.
					</p>
					<span>
						<b>Cornelia Coradini</b><br>
						Cordomus Hausverwaltung &amp; Immobilienmanagement
					</span>
				</div>
			</div>

			<div id="testimonial-2" class="box box-fluid">
				<div class="box-content">
					<p>
						Mit dem neuen Plugin haben Exposify ein unglaublich innovatives und zeitgemäßes Produkt auf den
						Markt gebracht. Mit der Datenautorität im eigenen Plugin ist man endlich unabhängig von den
						üblichen Portalen oder Makler-Softwares und somit flexibel, seine Objekte endlich so zu
						präsentieren, wie man möchte. Die Objekte werden SEO-optimiert und im gewünschten Design in der
						eigenen Seite integriert und angezeigt. Von hier aus exportiert man in die gewünschten Platformen.
						Dazu sind die Jungs noch mehr als Serviceorientiert. Wünsche, Anregungen und Kritiken werden dankend
						angenommen und wo möglich umgesetzt. Und das schnell, präzise und unkompliziert. Unbedingt empfehlenswert!
					</p>
					<span>
						<b>Ingo Eden</b><br>
						Eden-Ehbrecht Immobilien & Marketing GbR
					</span>
				</div>
			</div>

			<div id="testimonial-3" class="box box-fluid">
				<div class="box-content">
					<p>
						Ich habe positive Erfahrung bei der Zusammenarbeit mit Exposify gemacht.
						Sowohl mit der Firma, als auch mit dem Produkt. Die App ist übersichtlich und
						selbsterklärend. Falls es doch einmal ein Problem gab, hab ich immer direkt Hilfe
						bekommen, gerade auch deswegen, weil mein direkter Ansprechpartner einen persönlichen
						Bezug zu mir hat und mir so sofort die passenden Antworten geben kann.
					</p>
					<span>
						<b>Birgit Stauss-Rehbein</b><br>
						Immobilien am Meer mit Flair
					</span>
				</div>
			</div>

			<div id="testimonial-4" class="box box-fluid">
				<div class="box-content">
					<p>
						Wenn es um einfache Bedienung geht, ist Exposify sehr gut aufgestellt – es lässt
						sich intuitiv verwenden. Wir benutzen die App, um die Angebote auf unserer Website
						mit wenig Aufwand zu bearbeiten. Somit sind wir im Onlinemarketing flexibel und
						können alleine unsere Website anpassen. Mit einem Klick können wir schöne Exposés
						erstellen – das gefällt nicht nur uns, sondern kommt auch bei unseren Kunden gut an.
					</p>
					<span>
						<b>Lena Schröder</b><br>
						Bakir Immobilien
					</span>
				</div>
			</div>

			<div id="testimonial-5" class="box box-fluid">
				<div class="box-content">
					<p>
						Ich nutze Exposify jetzt seit rund einem Jahr um meine Objekte auf meiner Website zu
						vermarkten und bin vollkommen zufrieden. Am wertvollsten ist für mich der nahe und
						immer aufrichtige Kontakt zum Team hinter Exposify. Auch wenn es mal Fragen außerhalb
						dem Bereich der Software gibt, fühle ich mich bestens aufgehoben. Ich weiß, dass das
						Team ständig an Exposify arbeitet und bin gespannt auf die Zukunft.
					</p>
					<span>
						<b>Linda Bäumer</b><br>
						Kranich Immobilien
					</span>
				</div>
			</div>

		</div>
	</div>
</section>
