<section id="websites" class="websites">
	<div class="row">
		<div class="large-6 large-push-3 column text-center" style="margin-bottom: 50px;">
			<img class="websites-icon" src="/assets/img/browser-2.svg" alt="Suchmaschinenoptimiert">
			<h2>Ihre Website <span class="line-break">als Immobilienportal</span></h2>
			<p>Stellen Sie Ihre Firma in den Vordergrund und bieten Sie <span class="line-break">Immobilien auf Ihrer eigenen Website an.</span></p>
		</div>
	</div>
	<div class="row">
		<div class="large-4 column">
			<h3>Individualität</h3>
			<p>
				Präsentieren Sie sich individuell, anstatt in den unzähligen Angeboten
				der Portale unterzugehen. Ihre Website hat das Potenzial, Sie von
				Ihrem lokalen Markt abzuheben und Ihren Ruf zu stärken.
			</p>
		</div>
		<div class="large-4 column text-center">
			<h3>Suchmaschinenoptimierung</h3>
			<p>
				Wie gelangen potenzielle Kunden auf Ihre Website?
				Suchmaschinenoptimierung ist eines der komplexesten Themen des
				Internetmarketing. Wir helfen Ihnen sowohl technisch als auch inhaltlich.
			</p>
		</div>
		<div class="large-4 column text-right">
			<h3>Analysen</h3>
			<p>
				Sie wollen auf Ihrem Markt das bestmögliche Immobilienangebot
				präsentieren! Nun können Sie sehen, welche Ihrer Strategien
				am zielführendsten sind und sich dementsprechenend anpassen.
			</p>
		</div>
	</div>
</section>
