.features {
	position: relative;

	p {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	h3 {
		margin: 0 0 20px 0;
	}
	span.icon {
		font-size: 35px;
		color: $accent-color;
		font-weight: bold;
	}
	.feature-icon {
		display: inline-block;
		vertical-align: top;
		padding: 6px 0 0 0;
		margin-right: 20px;
		width: 35px;
	}
	.feature-content {
		display: inline-block;
		width: 75%;
	}
	.intro-icon {
		display: inline-block;
		vertical-align: top;
		padding: 6px 0 0 0;
		margin-right: 20px;
	}
	.intro-content {
		display: inline-block;
		width: 80%;
	}
	ul.features-stack {
		margin-top: 50px;
	}
	ul.features-stack li {
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: solid 1px $keyline-color;
	}
	ul.features-stack li:last-child {
		padding-bottom: 0px;
		border-bottom: none;
	}
	.ipad-wrap {
		width: 706px;
		height: 1002px;
		background: url("../img/ipad-device.png") no-repeat center center;
		z-index: 1;
	}
	.iphone-wrap {
		width: 304px;
		height: 620px;
		background: url("../img/iphone6.png") no-repeat center center;
		position: absolute;
		left: 530px;
		bottom: 129px;
		z-index: 2;
	}
	.device-showcase {
		position: absolute;
		bottom: -365px;
		right: 61%;
	}
}

.features .responsive-feature-img, .features-extra .responsive-feature-img {
	display: none;
}

.devices {
	position: relative;
}

.features-extra {
	position: relative;
	z-index: 3;

	.btn {
		margin-top: 20px;
	}
	.macbook-wrap {
		position: absolute;
		width: 916px;
		height: 540px;
		background: url("../img/macbook-pro.png") no-repeat center center;
		top: 114px;
		z-index: 4;
		left: 50%;
	}
}

@media (max-width: 991px) {
	.features {
		padding-bottom: 0;
	}

	.features .device-showcase,
	.features-extra .macbook-wrap {
		display: none;
	}

	.features .responsive-feature-img,
	.features-extra .responsive-feature-img {
		display: block;
		width: 85%;
		margin: 15% auto 0;
	}

	.features .responsive-feature-img img,
	.features-extra .responsive-feature-img img {
		width: 100%;
	}

	.hero-strip {
		margin-top: 0;
	}

	.blog-intro .leftcol {
		padding: 0 15px;
		margin-bottom: 15px;
		border-right: none;
	}

	.blog-intro .rightcol {
		padding: 0 20px;
	}
}


@media (max-width: 480px) {

	.features .device-showcase-left {
		position: absolute;
		bottom: -392px;
		left: 41%;
		right: auto;
		transform: translateX(-50%);
	}

	.features .ipad-wrap {
		width: 706px;
		height: 1002px;
		background: url("../img/ipad-device.png") no-repeat center center;
		z-index: 1;
		background-size: 40%;
	}

	.features .iphone-wrap {
		width: 304px;
		height: 617px;
		background: url("../img/iphone6.png") no-repeat center center;
		position: absolute;
		left: 350px;
		bottom: 129px;
		z-index: 2;
		background-size: 40%;
	}

	.features {
		padding-bottom: 0;
	}

	.down-arrow {
		display: none;
	}

}
