.footer
	position: relative
	z-index: 20
	padding-top: 20px
	padding-bottom: 120px
	margin-top: 20%
	color: white

	&:before
		content: ""
		position: absolute
		bottom: 100%
		width: 100%
		padding-top: 20%
		background-position: -4px 100%
		background-size: calc(100% + 8px)
		background-repeat: no-repeat

		// fix 1px spaced bar
		transform: translateY(1px)

	a
		color: $dark3
		&:hover
			color: $dark4

.footer
	background-color: $dark1
	&:before
		background-image: url(/assets/img/footer_background_dark.svg)
	&.footer-transition-light:before
		background-image: url(/assets/img/footer_background_dark_transition_light.svg)

.footer.footer-light
	background-color: white
	&:before
		background-image: url(/assets/img/footer_background_light.svg)
	&.footer-transition-light:before
		background-image: url(/assets/img/footer_background_light_transition_light.svg)

.footer-logo
	height: 60px
	margin-left: -9px

.footer-copy
	margin-bottom: 3em
	color: $dark3

	.fa.fa-heart
		margin: 0 .2em
		color: $accent
		font-size: .9em

	.bull
		margin: 0 .4em

.footer-twitter
	position: relative

	.fa.fa-twitter
		position: absolute
		top: -12px
		left: -42px
		padding: 10px
		color: #55acee
		font-size: 1.5em

.footer-heading
	font-size: 1.2em
	font-weight: 400

.footer-list
	padding: 0
	margin: 0

	li
		margin-bottom: .3em
		list-style: none

.before-footer
	margin-bottom: -20%

@media #{$small-only}
	.footer
		padding-bottom: 80px

	.footer-logo
		margin-bottom: 1em

	.footer-right-section .column
		margin-bottom: 3em
		&:last-child
			margin-bottom: 0

@media #{$medium-only}
	.footer-right-section
		padding-left: 74px

@media #{$medium-up}
	.footer-left-section
		margin-top: -10px

	.footer-copy
		margin-left: 44px
