.main-footer {
	position: relative;
	padding: 40px 0;
	background: white;
	z-index: 99;
}

.main-footer-socials {
	display: block;
	margin-top: 10px;
}

.social-circle {
	display: inline-block;
	width: 30px;
	height: 30px;
	color: white;
	background-color: $accent-color;
	border-radius: 50%;
	.fa {
		vertical-align: sub;
	}
	&:hover {
		color: inherit;
		background-color: lighten($accent-color, 10%);
	}
}
