.header
	position: relative
	z-index: 20
	padding: 20px 0
	color: white
	background-color: $dark1

.header-overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	background: none

.header-nav
	letter-spacing: 1px

	.btn
		margin-top: 10px
		padding: 10px 20px

.header-nav-element
	position: relative
	display: inline-block
	margin-left: 10px
	padding: 10px
	cursor: pointer

.header-nav-dropdown
	z-index: 10
	position: absolute
	top: 50px
	width: 200px
	background-color: white
	border-radius: 3px
	border: 1px solid #e0e0e0
	visibility: hidden
	opacity: 0
	transform: scale(.6)
	transform-origin: 15px top
	transition: all .3s
	a
		display: block
		padding: 20px
		color: $dark1

	&.show
		visibility: visible
		opacity: 1
		transform: scale(1)

	&:before
		content: ''
		position: absolute
		top: -6px
		left: 10px
		width: 10px
		height: 10px
		border: 1px solid #e0e0e0
		border-top: 0
		border-right: 0
		border-bottom-left-radius: 3px
		background: #fff
		transform: rotate(135deg)

.header-hamburger
	position: relative
	z-index: 100
	display: none
	width: 40px
	float: right
	border: none
	cursor: pointer

	&:focus
		outline: none

	&.header-hamburger-close
		.line-1
			transform: translateY(11px) rotate(-45deg)
		.line-2
			transform: rotate(225deg)
		.line-3
			transform: translateY(-11px) rotate(-45deg)

	.line
		display: block
		width: 30px
		height: 3px
		background-color: white
		margin-bottom: 8px
		border-radius: 1px
		transition: transform .3s

	.line-2
		transition: transform .6s

// Mobile Navigation Only
@media(max-width: 559px)
	.header.is-mobile-nav-shown
		.header-logo .logo-wordmark
			display: none
		.header-nav
			display: table

	.header-nav
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
		display: none
		width: 100%
		text-align: center

	.header-nav-element
		font-size: .9em
		margin-left: 0

	.header-hamburger
		display: block

@media(max-width: 800px)
	&.no-mobile
		display: none

// Everything above Mobile
@media(min-width: 560px)
	.header-logo
		width: 180px
	.header-nav
		float: right
