.hero
	padding: 100px 0 40px
	background-color: $primary
	background-image: url(/assets/img/background_hero.png)
	background-size: cover

.hero-info
	h1
		color: inherit
	p
		line-height: 1.8

	@media #{$small-only}, #{$medium-only}
		h1, p
			max-width: 580px
			margin-left: auto
			margin-right: auto
			text-align: center

		h1
			font-size: 1.5em

		p
			margin-bottom: 1.8em


@media #{$large-only}
	.hero-cta
		.box-title
			padding: 20px

		.box-content
			padding: 20px

@media #{$large-up}
	.hero
		min-height: 90vh

	.hero-info
		margin-top: 4em

	.hero-cta
		margin-top: 5em
		.box
			margin-right: 0

@media #{$xlarge-up}
	.hero-info
		margin-top: 7em
