.hero
	position: relative
	padding: 120px 0 70px
	background-color: $primary
	background-image: url(/assets/img/background_hero.png)
	background-size: cover

	@media #{$large-up}
		padding-bottom: 120px

.hero-info
	h1
		color: inherit
		font-size: 1.3em
		@media #{$medium-up}
			font-size: 1.8em
		@media #{$xlarge-up}
			font-size: 2.1em
	p
		line-height: 1.8

	@media #{$small-only}, #{$medium-only}
		h1, p
			max-width: 580px
			margin-left: auto
			margin-right: auto
			text-align: center
		p
			margin-bottom: 1.8em

.hero-scroll-down
	position: absolute
	bottom: 10px
	left: 50%
	left: calc(50% - 25px)
	display: block
	padding: 10px

	.fa
		width: 30px
		font-size: 30px
		text-align: center
		color: white

	@media #{$large-up}
		bottom: 25px
		left: calc(50% - 27px)

		.fa
			width: 35px
			font-size: 35px

@media #{$large-only}
	.hero-cta
		.box-title
			padding: 20px

		.box-content
			padding: 20px

@media #{$large-up}
	.hero-info
		margin-top: 1em

	.hero-cta
		margin-top: 2em
		.box
			margin-right: 0

@media #{$xlarge-up}
	.hero-info
		margin-top: 4.5em
