.hero {
	position: relative;
	min-height: 700px;
	background-color: $primary-color;
	background-image: url('/assets/img/hero.jpg');
	background-size: cover;

	.down-arrow a {
		color: $txt-secondary;
	}
	h1 {
		margin-bottom: 30px;
		color: white;
	}
	p.intro {
		color: rgba(white, .8);
		font-size: 20px;
		font-weight: 500;
	}
	.btn {
		font-weight: 600;
	}
	.btn-white.btn-fill {
		color: $accent-color;
	}
	.hero-content {
		padding-top: 180px;
		@media (min-width: 800px) {
			padding-top: 220px;
			padding-right: 20px;
		}

	}
	.box {
		margin: 20px 0;
		@media(min-width: 40.063em) {
			margin-top: 160px;
		}
		@media (min-width: 1000px) {
			.box-title {
				padding: 30px;
			}
			.box-content {
				padding: 40px;
				padding-top: 30px;
			}
		}
		.field {
			margin: 0 auto 10px;
			i.fa {
				color: $accent-color;
			}
		}
		.btn {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
	}
}
.down-arrow {
	color: #fff;
	font-size: 30px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 480px) {
	.hero .btn {
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	.hero .btn:first-of-type {
		margin-bottom: 20px;
	}

	.btn-margin-right {
		margin-right: 0px;
	}
}
