.hero {
	min-height: 550px;
	background: url('/assets/img/hero.jpg') bottom center;
	background-size: cover;
	position: relative;

	.down-arrow a {
		color: $txt-secondary;
	}
	h1 {
		color: $txt-secondary;
		margin-bottom: 30px;
	}
	p.intro {
		color: $txt-secondary;
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 45px;
	}
	.hero-content {
		padding-top: 120px;
		@media (min-width: 800px) {
			padding-top: 160px;
		}

	}
}
.down-arrow {
	color: #fff;
	font-size: 30px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 480px) {
	.hero .btn {
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	.hero .btn:first-of-type {
		margin-bottom: 20px;
	}

	.btn-margin-right {
		margin-right: 0px;
	}
}
