.intro span.icon {
	font-size: 40px;
	color: $primary-color;
}
.intro-icon {
	display: inline-block;
	width: 40px;
	padding-top: 12px;
	margin-right: 18px;
	vertical-align: top;
}
.intro-content {
	display: inline-block;
	width: 80%;
	h5 {
		text-transform: uppercase;
	}
}

@media (max-width: 1200px) {
	.intro-content {
		display: inline-block;
		width: 70%;
	}
}
