.sign-up
  background: $primary-color

  .signup-box
    position: relative
    top: -50px
    padding: 30px
    margin-bottom: -50px
    background: white
    box-shadow: 0 5px 25px rgba(97, 116, 117, 0.3)
    border-top-left-radius: 3px
    border-top-right-radius: 3px

  .signup-form
    .btn
      width: 90%
      font-size: 13px

      @media (min-width: 520px)
        width: 80%

    .field
      margin: 0 auto 10px

      @media (min-width: 520px)
        width: 80%
