.testimonials
	padding: 80px 0

	.column
		display: flex
		align-items: center
		justify-content: center

	.button
		@extend .benefit-emoji
		text-align: center
		cursor: pointer

	.box
		max-width: 600px
