footer {
	background-color: $footer-primary;
	position: relative;

	p {
		color: $txt-accent;
		font-size: $nav-font-size;
	}
	a {
		color: $txt-light;
	}
	a:hover {
		color: $accent-color;
	}
	ul.footer-group {
		border-top: solid 1px #4E566C;
		padding-top: 25px;
		margin-bottom: 45px;
	}
	ul.footer-group li {
		display: inline-block;
	}
	ul.footer-group li a {
		font-size: $nav-font-size;
		text-transform: uppercase;
	}
	ul.footer-group li a:hover {
		color: $accent-color;
	}
	ul.footer-group li {
		margin-right: 30px;
	}
	ul.footer-group li:last-child {
		margin-right: 0;
	}
	span.fa-heart {
		color: #ff415c;
		font-size: 15px;
		margin: 0 2px;
	}
	.social-share {
		position: absolute;
		background-color: #373D4A;
		right: 0;
		width: 40%;
		height: 100%;
		padding: 142px 0 0 70px;

		p {
			color: $txt-light;
			text-transform: uppercase;
			padding-bottom: 10px;
		}
		a.twitter-share {
			height: 60px;
			width: 60px;
			background-color: #1AB4EF;
			border-radius: 3px;
			font-size: 22px;
			display: inline-block;
			text-align: center;
			margin-right: 20px;
		}
		a.twitter-share:hover, a.twitter-share:focus {
			background-color: #1590BF;
		}
		a.facebook-share:hover, a.facebook-share:focus {
			background-color: #324C85;
		}
		a.facebook-share {
			height: 60px;
			width: 60px;
			background-color: #3B5898;
			border-radius: 3px;
			font-size: 22px;
			display: inline-block;
			text-align: center;
		}
		a {
			color: $txt-light;
		}
		a:hover {
			color: $txt-light;
		}
		a i {
			margin-top: 20px;
		}
	}
	.footer-links {
		margin: 120px 0 120px 0;
	}
}

@media (max-width: 991px) {
	footer .social-share {
		display: none;
	}

	footer .footer-links {
		margin: 120px 0 120px 0;
	}
}

@media (max-width: 640px) {
	footer ul.footer-group {
		border-top: none;
	}

	footer ul.footer-group li a {
		font-size: 13px;
		text-transform: uppercase;
		padding: 20px 0;
		display: block;
		border-bottom: dashed 1px #4E566C;
	}

	footer ul.footer-group li {
		display: block;
	}

	footer .footer-links {
		margin: 50px 0 50px 0;
	}

}
