{% set title = 'Analysen' %}

{% extends "templates/default.njk" %}

{% block content %}

	<div class="hero hero-light hero-compact">
		<div class="row">
			<div class="large-10 large-push-1 column text-center">
				<h1>Analysen für Immobilienprofis</h1>
				<p>Bekommen Sie einen Einblick in das Verhalten Ihrer Kunden und optimieren Sie Ihre Angebote.</p>
				<a class="btn btn-square btn-accent btn-fill btn-large" href="/#signup">Los geht's!</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="large-4 column">
				<h2>Statistiken</h2>
				<p>Sehen Sie genau, wie oft eines Ihrer Angebote an einem bestimmten Tag angesehen wurde und messen Sie somit Ihren Traffic.</p>
			</div>
			<div class="large-4 column">
				<h2>Konvertierungsatz</h2>
				<p>Finden Sie die Angebote mit Schwachstellen, indem Sie sehen, wie oft zunächst interessierte Kunden Ihre Website doch wieder verlassen.</p>
			</div>
			<div class="large-4 column">
				<h2>Report Emails</h2>
				<p>Aktivieren Sie unsere Email Reportagen, die Ihnen wöchentlich Ihre Statistiken zusammenfassen und Verbesserungen für Ihre Angebote vorschlagen.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="large-6 column">
				<h2>Sind Sie ein datengeleitetes Unternehmen?</h2>
				<p>Verlassen Sie sich auf unsere Statistiken und finden Sie heraus, warum eines Ihrer Angebote sich nur schwer verkaufen lässt.</p>
			</div>
			<div class="large-6 column">
				<h2>Gewinnen Sie Einblicke in Ihren Markt!</h2>
				<p>Sehen Sie, wie lange Ihr Kunde Ihre Seite besucht hat und ob er diese letztendlich verlassen oder Kontakt aufgenommen hat.</p>
			</div>
		</div>
	</div>

	<div class="container container-gray container-before-footer before-footer">
		<div class="row">
			<div class="large-6 large-push-3 column text-center">
				<h2>Für Exposify anmelden</h2>
				<p>Testen Sie Exposify und die Makleranalysen für Immobilienprofis kostenlos und unverbindlich.</p>
				<a class="btn btn-square btn-accent btn-fill btn-large" href="/#signup">Los geht's!</a>
			</div>
		</div>
	</div>

{% endblock %}
