{% set title = 'Kontakt' %}
{% set description =
	'Kontaktieren Sie uns. Wir stehen bei Fragen aller Art zur Verfügung um eine enge Kundenbeziehung zu führen.'
%}
{% set link = 'contact' %}

{% extends "templates/default.njk" %}

{% block content %}

	<div class="row">
		<div class="large-8 column">
			<h1>{{title}}</h1>

			<p>
				Wir möchten mit Ihnen eine enge Kundenbeziehung führen und bei Fragen aller Art zur Seite stehen. Deswegen bieten wir Ihnen zahlreiche Möglichkeiten, uns zu kontaktieren.
			</p>
			<p>
				Rufen Sie uns an unter <a href="tel:+4944212099844">+49 (0) 4421 2099844</a>, schreiben Sie uns im <a class="js-open-chat" href="#">Livechat</a> oder versenden Sie eine Email an <a href="mailto:team@exposify.de">team@exposify.de</a> oder hier im Kontakt-Formular.
			</p>
			<p>
				Sie können auch unseren <a target="_blank" href="https://api.whatsapp.com/send?phone=4944212099844">WhatsApp-Support</a> in Anspruch nehmen. Speichern Sie dafür unsere Telefonnummer als WhatsApp-Kontakt ab: +49 4421 2099844.
			</p>

			<form class="ajax" action="/assets/php/contact.php" method="POST" data-success-status="true">
				<div class="row">
					<fieldset class="large-6 column">
						<label for="name">Name</label>
						<input class="field" id="name" name="name" type="text">
					</fieldset>
					<fieldset class="large-6 column">
						<label for="mail">Mail</label>
						<input class="field" id="mail" name="mail" type="mail">
					</fieldset>
				</div>

				<div class="row">
					<fieldset class="large-12 column" style="margin-top: 1em;">
						<label for="message">Nachricht</label>
						<textarea class="field" id="message" name="message"></textarea>
					</fieldset>
				</div>

				<div class="row">
					<div class="large-12 column" style="margin-top: 1em;">
						<?php if (isset($meta)): ?>
							<input type="hidden" name="meta" value="<?php echo $meta; ?>">
						<?php endif ?>

						<button class="btn btn-accent btn-fill btn-square btn-large btn-bold" style="float: right;" type="submit">Absenden</button>

						<span class="response"></span>
					</div>
				</div>


			</form>
		</div>

	</div>

{% endblock %}
