{% set title = 'Kundenverwaltung' %}
{% set description =
	'Verwalten Sie Ihre Kundendatenbank innerhalb von Exposify und verknüpfen Sie Interessenten mit Ihren Angeboten.'
%}
{% set link = 'crm' %}

{% extends "templates/default.njk" %}

{% block content %}

	<div class="hero hero-light hero-compact">
		<div class="row">
			<div class="large-8 large-push-2 column text-center">
				<h1>Verwalten Sie Ihre Kundendaten</h1>
				<p>Ihre Interessenten und Kunden an einem Ort und für Ihr ganzes Team verfügbar.</p>
				<a class="btn btn-square btn-accent btn-fill btn-large" href="/#signup">Los geht's!</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="large-4 column">
				<h2>Kontaktdaten</h2>
				<p>Hinterlegen Sie die Kontaktdaten Ihrer Kunden. So hat Ihr ganzes Team ein synchrones Adressbuch aller Kunden.</p>
			</div>
			<div class="large-4 column">
				<h2>Immobilienverknüpfung</h2>
				<p>Verknüpfen Sie Ihre Kunden mit den Objekten, an denen Interesse besteht und bekommen Sie so einen optimalen Überblick.</p>
			</div>
			<div class="large-4 column">
				<h2>Automatisches Profil <span class="label label-soon">Bald verfügbar</span></h2>
				<p>Stellen Sie sich durch die automatisch bereitgestellen Informationen und Profile optimal auf Ihre Kunden ein.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="large-6 large-push-3 column">
				<h2>Intelligente Kontaktaufnahme</h2>
				<p>
					Wenn sich ein Kunde auf Ihrer Website für ein Angebot interessiert,
					wird dieser automatisch in Exposify angelegt und mit dem jeweiligen
					Objekt verknüpft. Außerdem wird der Ansprechpartner des Angebots benachrichtigt.
				</p>
			</div>
		</div>
	</div>

	<div class="container container-gray container-before-footer before-footer">
		<div class="row">
			<div class="large-6 large-push-3 column text-center">
				<h2>Exposify Kundenverwaltung testen</h2>
				<p>
					Melden Sie sich kostenlos für Exposify an und <a href="/contact">kontaktieren Sie uns</a>,
					wenn Sie die Kontaktverwaltung testen möchten.
				</p>
				<a class="btn btn-square btn-accent btn-fill btn-large" href="/#signup">Los geht's!</a>
			</div>
		</div>
	</div>

{% endblock %}
