{% set title = 'Impressum' %}
{% set link = 'imprint' %}

{% extends "templates/default.njk" %}

{% block content %}

	<div class="row">
		<div class="small-12 column">
			<h1>{{title}}</h1>

			<p>
				<strong>Exposify UG (haftungsbeschränkt)</strong><br>
				Parkstraße 23, 26382 Wilhelmshaven
			</p>

			<p>
				Handelsregister: Amtsgericht Oldenburg HRB 212870<br>
				Umsatzsteuer-Indentifikationsnummer: DE316701242<br>
				Geschäftsführer: Niklas Ravnsborg-Gjertsen
			</p>

			<p>
				Email: <a href="mailto:team@exposify.de">team@exposify.de</a><br>
				Telefon: <a href="tel:+4944212099844">+49 (0) 4421 2099844</a>
			</p>

			<p>
				Weitere Links:
				<a href="/datenschutz/">Datenschutzerklärungen</a> |
				<a href="/agb/">Nutzungsbedingungen</a> |
				<a href="/contact/">Kontakt</a>
			</p>

		</div>
	</div>
{% endblock %}
