{% set title = 'Nutzungsbedingungen' %}
{% set link = 'nutzungsbedingungen' %}

{% extends "templates/default.njk" %}

{% block content %}

<div class="row">
	<div class="large-8 column">
		<h1>{{ title }}</h1>

		<p>Zuletzt geändert: 04. Mai 2018</p>

		<h2>Willkommen bei Exposify</h2>
		<p>
			Vielen Dank, dass Sie unsere Dienste verwenden. Unser Cloud-Angebot wird Ihnen von der Exposify UG (haftungsbeschränkt) zur Verfügung gestellt. Die Nutzung der Dienste setzt voraus, dass Sie diesen Bedingungen zustimmen.
		</p>

		<h2>Vertragsgegenstand</h2>
		<p>
			Gegenstand des Vertrages ist ein sogenanntes Exposify-Konto, mit dem der Kunde die Software von Exposify gemäß der aktuellen Produktbeschreibung als Cloud-Angebot nutzen kann.
		</p>
		<p>
			Ihnen wird ermöglicht, die von uns bereitgestellte Software über eine Internetverbindung während der Laufzeit Ihres Vertrags für eigene Zwecke zu nutzen und seine Daten mit ihrer Hilfe zu speichern und zu verarbeiten.
		</p>

		<h2>Umfang der Leistung</h2>
		<p>
			Wir stellen Ihnen die Software am Routerausgang des Rechenzentrums, in dem der Server mit der Software steht („Übergabepunkt“), zur Nutzung bereit. Wir verschulden nicht der Herstellung und Aufrechterhaltung einer Datenverbindung zwischen dem beschriebenen Übergabepunkt und Ihrem Endgerät.
		</p>

		<h2>Verfügbarkeit der Software</h2>
		<p>
			Wir weisen Sie darauf hin, dass Einschränkungen oder Beeinträchtigungen der erbrachten Dienste entstehen können auf die wir keinen Einfluss haben. Auch die von Ihnen genutzte Technik kann Einfluss auf unsere Leistungen haben. Soweit derartige Umstände Einfluss auf die Verfügbarkeit oder Funktionalität der von uns erbrachten Leistung haben, hat dies keine Auswirkung auf die Vertragsgemäßheit der erbrachten Leistungen.
		</p>
		<p>
			Wenn Ihnen negative Beeinträchtigungen oder Ausfälle der Software auffallen, haben Sie dies uns unverzüglich und so präzise wie möglich mitzuteilen, damit wir das Problem zeitnah beheben können.
		</p>

		<h2>Rechte zur Datenverarbeitung, Datensicherung</h2>
		<p>
			Wir halten uns an die gesetzlichen Datenschutzbestimmungen.
		</p>
		<p>
			Sie räumen uns im Sinne der Vertragsabwicklung das Recht ein, Ihre zur Verfügung gestellten Daten zu speichern, verarbeiten und Änderungen an diesen vorzunehmen.
		</p>

		<h2>Support</h2>
		<p>
			Ein Supportfall liegt vor, wenn die Software die vertragsgemäßen Funktionen gemäß der Produktbeschreibung nicht erfüllt.
		</p>
		<p>
			Melden Sie einen Supportfall, so haben Sie eine möglichst detaillierte Beschreibung der jeweiligen Störung zu liefern, um die Fehlerbeseitigung zu ermöglichen.
		</p>

		<h2>Bezahlung</h2>
		<p>
			Verzögern Sie eine fällige Zahlung um mehr als einen Monat, sind wir zu einer Zugangssperrung zur Software berechtigt. Der Vergütungsanspruch bleibt von der Sperrung unberührt. Der Zugang zur Software wird nach Begleichung der Rückstände unverzüglich wieder freigeschaltet.
		</p>

		<h2>Mitwirkungspflichten</h2>
		<p>
			Die ordnungsgemäße und regelmäßige Sicherung der Daten obliegt Ihnen.
		</p>
		<p>
			Für die Nutzung der Software müssen Sie die aus der Produktbeschreibung ergebenden Systemvoraussetzungen erfüllen. Sie tragen hierfür selbst die Verantwortung.
		</p>
		<p>
			Sie haben die Ihnen zur Verfügung gestellten Zugangsdaten geheim zu halten und dafür zu sorgen, dass etwaige Mitarbeiter, denen Zugangsdaten zur Verfügung gestellt werden, dies ebenfalls tun. Unsere Leistung darf Dritten nicht zur Verfügung gestellt werden, soweit das nicht von den Parteien ausdrücklich vereinbart wurde.
		</p>

		<h2>Gewährleistung</h2>
		<p>
			Es gelten grundsätzlich die gesetzlichen Regelungen zur Gewährleistung. Die Anwendung des BGB § 536a Abs. 1 (Schadensersatzpflicht des Vermieters) und 2 (Selbstbeseitigungsrecht des Mieters) sind jedoch ausgeschlossen.
		</p>

		<h2>Haftung und Schadensersatz</h2>
		<p>
			Wir haften für Ihre Schäden, die von uns vorsätzlich oder grob fahrlässig verursacht wurden, die Folge des Nichtvorhandenseins einer garantierten Beschaffenheit sind, die auf einer schuldhaften Verletzung wesentlicher Vertragspflichten (so genannte Kardinalpflichten) beruhen, die Folge einer schuldhaften Verletzung der Gesundheit, des Körpers oder des Lebens sind, oder für die eine Haftung nach dem Produkthaftungsgesetz vorgesehen ist, nach den gesetzlichen Bestimmungen.
		</p>
		<p>
			Kardinalpflichten sind solche vertraglichen Pflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglichen und auf deren Einhaltung der Vertragspartner regelmäßig vertrauen darf, und deren Verletzung auf der anderen Seite die Erreichung des Vertragszwecks gefährdet.
		</p>
		<p>
			Bei Verletzung einer Kardinalpflicht ist die Haftung – soweit der Schaden lediglich auf leichter Fahrlässigkeit beruht – beschränkt auf solche Schäden, mit deren Entstehung beim Einsatz der vertragsgegenständlichen Software typischerweise gerechnet werden muss.
			Im Übrigen ist die Haftung – gleich aus welchem Rechtsgrund – ausgeschlossen.
		</p>
		<p>
			Resultieren Ihnen Schäden aus dem Verlust von Daten, so haften wir hierfür nicht, soweit die Schäden durch eine regelmäßige und vollständige Sicherung aller relevanten Daten durch Sie vermieden worden wären und wir kein Mitverschulden tragen. Sie werden eine regelmäßige und vollständige Datensicherung selbst oder durch einen Dritten durchführen bzw. durchführen lassen und sind hierfür allein verantwortlich.
		</p>

		<h2>Erfüllungsort und Anwendbares Recht</h2>
		<p>
			Gerichtsstand für sämtliche Ansprüche aus den Vertragsbeziehungen zwischen den Vertragsparteien sich ergebenden Streitigkeiten, insbesondere über das Zustandekommen, die Abwicklung oder die Beendigung des Vertrages ist Wilhelmshaven in Niedersachen.
			Für die mit Exposify geschlossenen Verträge gilt ausschließlich Recht der Bundesrepublik Deutschland.
		</p>

		<h2>Kundendaten und Freistellung von Ansprüchen Dritter</h2>
		<p>
			Wir speichern als technischer Dienstleister Inhalte und Daten für Sie, welche Sie in der Software eingeben, speichern und zum Abruf bereitstellen. Sie verpflichten sich gegenüber uns, keine strafbaren oder rechtswidrigen Inhalte und Daten einzustellen sowie keine Viren oder sonstige Schadsoftwareenthaltenden Programme im Zusammenhang mit der Software zu nutzen. Sie bleiben im Hinblick auf personenbezogene Daten verantwortliche Stelle und haben daher stets zu prüfen, ob die Verarbeitung solcher Daten über die Nutzung der Software von entsprechenden Erlaubnistatbeständen getragen ist.
		</p>
		<p>
			Sie sind für sämtliche verwendeten Inhalte und verarbeiteten Daten sowie die hierfür erforderlichen Rechtspositionen allein verantwortlich.
		</p>
		<p>
			Sie verpflichten sich in diesem Zusammenhang, uns von jeder Haftung und jeglichen Kosten freizustellen.
		</p>

		<h2>Kündigung und Vertragslaufzeit</h2>
		<p>
			Die Vertragslaufzeit gemäß des Produktes wird automatisch verlängert, wenn der Vertrag nicht im Vorfeld gekündigt wurde.
		</p>
		<p>
			Die außerordentliche Kündigung innerhalb der Vertragslaufzeit aus wichtigem Grund bleibt beiden Parteien bei Vorliegen der gesetzlichen Voraussetzungen vorbehalten. Sofern Sie einen Kündigungsgrund zu vertreten haben, sind Sie verpflichtet, uns die vereinbarte Vergütung, abzüglich ersparter Aufwendungen bis zu dem Termin zu zahlen, an dem der Vertrag bei einer ordentlichen Kündigung frühestens enden würde.
		</p>
		<p>
			Kündigungserklärungen bedürfen zu ihrer Wirksamkeit der Schriftform. Die Einhaltung dieser Form ist Voraussetzung für die Wirksamkeit der Kündigung.
		</p>
		<p>
			Nach Beendigung des Vertrags haben wir sämtliche von Ihnen überlassene Vertragsdaten und Inhalte an Sie zurückzugeben und zu löschen, soweit keine Aufbewahrungspflichten oder –rechte bestehen.
		</p>

		<h2>Vertraulichkeit</h2>
		<p>
			Diese Verpflichtungen überdauern das Ende dieser Vereinbarung und der Vertragslaufzeit.
			Die Parteien sind verpflichtet, alle ihnen im Zusammenhang mit diesem Vertrag bekannt gewordenen oder bekannt werdenden Informationen über die jeweils andere Partei, die als vertraulich gekennzeichnet werden oder anhand sonstiger Umstände als Geschäfts- und Betriebsgeheimnisse („vertrauliche Informationen“) erkennbar sind, nicht an Dritte weiterzugeben.
		</p>
		<p>
			Die Informationen sind dann keine vertraulichen Informationen im Sinne dieser Ziffer 12, wenn sie...
		</p>
		<ul>
			<li>
				der anderen Partei bereits zuvor bekannt waren, ohne dass die Informationen einer Vertraulichkeitsverpflichtung unterlegen hätten.
			</li>
			<li>
				allgemein bekannt sind oder ohne Verletzung der übernommenen Vertraulichkeitsverpflichtungen bekannt werden.
			</li>
			<li>
				der anderen Partei ohne Verletzung einer Vertraulichkeitsverpflichtung von einem Dritten offenbart werden.
			</li>
		</ul>


		<h2>Sonstiges</h2>
		<p>
			Wir behalten uns vor diese Bestimmungen von Zeit zu Zeit zu ändern. Sie werden von den Änderungen per Email informiert. Die Änderungen gelten nicht rückwirkend und werden 14 Tage nach Ihrer Veröffentlichung wirksam. Sie haben die Möglichkeit zu kündigen, bevor die Änderungen gültig werden.
		</p>
		<p>
			Sollten einzelne Bestimmung dieser Vereinbarung unwirksam sein, wird hierdurch die Wirksamkeit der übrigen Bestimmungen nicht berührt. Die Parteien werden in diesem Fall zusammenwirken, um unwirksame Regelungen durch solche Regelungen zu ersetzen, die den unwirksamen Bestimmungen soweit wie möglich entsprechen.
		</p>

	</div>
</div>
{% endblock %}
