{% set title = 'Interessentenliste' %}
{% set link = 'requests' %}

{% extends "templates/default.njk" %}

{% block content %}

	<div class="hero hero-light hero-compact">
		<div class="row">
			<div class="large-8 large-push-2 column text-center">
				<h1>Verwalten Sie Ihre Kundendaten</h1>
				<p>Generieren Sie neue Kunden direkt auf Ihrer Website</p>
				<a class="btn btn-square btn-accent btn-fill btn-large" href="/#signup">Los geht's!</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="large-6 large-push-3 column">
				<h2>Intelligente Kontaktaufnahme</h2>
				<p>
					Wenn sich Kunden für Ihr Angebot interessieren, geben wir diesen direkt die Möglichkeit,
					mit dem jeweiligen Ansprechpartner Kontakt aufzunehmen.
				</p>
			</div>
		</div>
	</div>

	<div class="container container-gray container-before-footer before-footer">
		<div class="row">
			<div class="large-6 large-push-3 column text-center">
				<h2>Für Exposify anmelden</h2>
				<p>Testen Sie Exposify und die Interessentenliste kostenlos und unverbindlich.</p>
				<a class="btn btn-square btn-accent btn-fill btn-large" href="/#signup">Los geht's!</a>
			</div>
		</div>
	</div>

{% endblock %}
