{% set title = 'Websites' %}

{% extends "templates/default.njk" %}

{% block content %}

	<div class="hero hero-light hero-compact">
		<div class="row">
			<div class="large-8 large-push-2 column text-center">
				<h1>Stellen Sie Ihre Angebote auf Ihre Website</h1>
				<p>Wir kümmern uns darum, dass Sie im Internet gefunden werden.</p>
				<a class="btn btn-square btn-accent btn-fill btn-large" href="/#signup">Los geht's!</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="large-4 column">
				<h2>Suchmaschinenoptimierung</h2>
				<p>Haben Sie sich je gefragt, warum Ihre Angebote nicht auf Suchmaschinen gelistetet werden? Wir sorgen dafür, dass Google und Co. Sie nicht mehr ignorieren.</p>
			</div>
			<div class="large-4 column">
				<h2>Professionelles Design</h2>
				<p>Ist Ihnen Ihre Corparate Identity wichtig? Wir passen uns Ihrer Unternehmensoptik an und sorgen gleichzeitig für eine übersichtliche Darstellung für Ihre Kunden.</p>
			</div>
			<div class="large-4 column">
				<h2>Einfache Einbindung</h2>
				<p>Mit unserer JavaScript-Integration ist die Installation ganz einfach—eine Sache von „Kopieren und Einfügen“. Natürlich helfen wir auch gerne bei der Einbindung. </p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="large-6 large-push-3 column">
				<h2>Gewinnen Sie Neukunden.</h2>
				<p>Wir sind darauf spezialisiert mehr Neukunden auf Ihre Website zu bringen, in dem wir Ihre Website für Suchmaschinen optimieren (SEO). Wir passen Ihre Angebotsseite technisch so an, dass alle Bereiche der Suchmaschinenoptimierung abgedeckt sind und Interessenten Ihre Seite finden können.</p>
			</div>
		</div>
	</div>

	<div class="container container-gray container-before-footer before-footer">
		<div class="row">
			<div class="large-6 large-push-3 column text-center">
				<h2>Für Exposify anmelden</h2>
				<p>Testen Sie Exposify und die Website Integration für Immobilienprofis kostenlos und unverbindlich.</p>
				<a class="btn btn-square btn-accent btn-fill btn-large" href="/#signup">Los geht's!</a>
			</div>
		</div>
	</div>

{% endblock %}
