RewriteEngine On

###  don't forget to add the following:
### `RewriteCond %{HTTP_HOST} !\.dev$`
###  ...to prevent redirecting on local

# redirect to https
RewriteCond %{HTTP_HOST} !\.dev$
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# redirect to www
RewriteCond %{HTTP_HOST} !\.dev$
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Cross origin access for fonts
<FilesMatch ".(eot|ttf|otf|woff)">
	Header set Access-Control-Allow-Origin "*"
</FilesMatch>
