{% set title = 'Exposify Maklerapp – Marketing für Immobilienprofis' %}
{% set bodyClasses = 'landing' %}
{% set floatingHeader = true %}

{% extends "templates/default.njk" %}

{% block content %}
	<section class="hero">
		<div class="row">
			<div class="large-12 column white">
				<h1 class="hero-title animate-in" id="hero-title">Die Marketing–Plattform für Immobilienprofis</h1>
				<p class="hero-value animate-in" id="hero-value">Entwicklen Sie Ihre Marke und bleiben Sie bei Ihren Kunden hängen—auf allen Kanälen.</p>
				<form class="hero-form animate-in ajax" id="hero-form" action="https://app.exposify.de/xhr-send-invite" method="post">
					<div class="btn-field hero-cta">
						<input class="btn-field-input" type="email" name="email" placeholder="Email Adresse" required>
						<button class="btn btn-square btn-accent btn-fill btn-field-btn" type="submit">Kostenlos starten</button>
					</div>
					<div class="small response hero-cta-response"></div>
				</form>
			</div>
		</div>
		<a class="hero-scroll-down" href="#info"><i class="fa fa-angle-down"></i></a>
	</section>

	<section class="websites">
		<div class="row">
			<div class="large-12 column text-center" style="margin-bottom: 50px;">
				<h2>Machen Sie Ihre Website <span class="line-break">zum Immobilienportal.</span></h2>
				<p>Stellen Sie Ihre Firma in den Vordergrund und bieten Sie <span class="line-break">Immobilien für Suchmaschinen</span> optimiert an.</p>
			</div>
		</div>
		<div class="row">
			<div class="large-4 column">
				<h3>Individualität</h3>
				<p>
					Ihre Website hat das Potenzial, Sie von Ihrem lokalen Markt abzuheben.
					Anstatt dass Ihre Angebote in Reihe von zahlreichen anderen auf einem Portal stehen,
					können Sie mit Ihrer Website auch individuell zu finden sein.
				</p>
				<a class="btn btn-primary" href="/websites">Mehr erfahren</a>
			</div>
			<div class="large-4 column">
				<h3>Suchmaschinenoptimierung</h3>
				<p>
					Individualität auf Ihrer Website bringt Ihnen nur etwas, wenn Sie auch gefunden werden.
					Suchmaschinenoptimierung ist eins der komplexesten Themen im Bereich des
					Internetmarketings. Wir helfen Ihnen nicht nur technisch, sondern auch inhaltlich.
				</p>
				<a class="btn btn-primary" href="/websites">Mehr erfahren</a>
			</div>
			<div class="large-4 column">
				<h3>Analysen</h3>
				<p>
					Sie wollen auf Ihrem Markt das bestmögliche Immobilienangebot kommunizieren!
					Nun haben Sie die Möglichkeit zu sehen, welche Ihrer Strategien
					am zielführensten sind und können sich dementsprechenend anpassen.
				</p>
				<a class="btn btn-primary" href="/analytics">Mehr erfahren</a>
			</div>
		</div>
	</section>

	<section class="platform">
		<div class="row">
			<div class="large-9 large-push-2 column">
				<h2>Eine Plattform für Ihr Marketing</h2>
				<p>- Vermarkten Sie Ihre Immobilien auf Ihrer Website, auf diversen Immobilienportalen und per PDF-Exposé.</p>
				<p>- Verwalten Sie Interessenten und Kunden an einem zentralen Ort.</p>
				<p>- Verbessern Sie Ihre Angebote mithilfe von aufschlussreichen Analysen über das Verhalten Ihrer Interessenten.</p>
			</div>
		</div>
	</section>

	{% include 'templates/partials/testimonials.njk' %}

	<section class="signup before-footer" id="signup">
		<div class="row">
			<div class="small-12 column">
				<div class="box">
					<h2 class="box-title">Für Exposify anmelden</h2>
					<form class="box-content ajax" action="https://app.exposify.de/xhr-send-invite" method="post">
						<p class="no-margin-top">An welche Email Adresse sollen wir Ihre Einladung für Exposify senden?</p>
						<div class="field" style="margin-bottom: .8em;">
							<i class="accent field-icon fa fa-envelope"></i>
							<input class="field-input field-input-accent" type="email" name="email" placeholder="Email Adresse" required>
						</div>
						<div class="small response" style="margin: 1.2em 0;"></div>
						<button class="btn btn-accent btn-fill btn-square btn-large btn-bold full-width" type="submit">Kostenlos starten</button>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block scripts %}
	<script>


		// TESTIMONIAL SLIDER

		var counter = 1;

		testimonial1El = document.querySelector('#testimonial-1');
		testimonial2El = document.querySelector('#testimonial-2');
		testimonial3El = document.querySelector('#testimonial-3');

		function renderTestimonial(increment) {
			counter += increment;
			if (counter == 4) {
				counter = 1;
			} else if (counter == 0) {
				counter = 3;
			}

			testimonial1El.style.display = 'none';
			testimonial2El.style.display = 'none';
			testimonial3El.style.display = 'none';
			document.querySelector('#testimonial-' + counter).style.display = '';
		}

		renderTestimonial(0)

		document.querySelector('.js-testimonial-prev').addEventListener('click', function(e) {
			renderTestimonial(-1);
		});

		document.querySelector('.js-testimonial-next').addEventListener('click', function(e) {
			renderTestimonial(1);
		});

		// END OF TESTIMONIAL SLIDER


		setTimeout(function() {
			document.getElementById('hero-title').classList.add('fade-up');
			document.getElementById('hero-value').classList.add('fade-up');
		}, 500);
		setTimeout(function() {
			document.getElementById('hero-form').classList.add('fade');
		}, 1500);
	</script>
{% endblock %}
